{% extends "master.html" %}
{% block title %}
Bid for a Mission
{% endblock %}

{% block content %}

<style>
    .mission-item {
        background-color: #33333f; /* Dark background for contrast */
        color: white; 
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .buttons-right {
        float: right; 
        white-space: nowrap; 
    }
    .button-spacing {
        margin-left: 10px; /* Space between buttons */
    }
    .button-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-description-row {
        
    }
</style>
  
<div class="container-fluid py-4 px-5">
    <h1>Bid for a Mission</h1>
    {% for mission in missions %}
    <div class="mission-item">
        <div class="button-row">
            <h5>{{ mission.title }}</h5>
            <div class="buttons-right">
                <button type="button" class="btn btn-info button-spacing" data-bs-toggle="modal" data-bs-target="#modal{{ mission.mission_id }}">
                    View Details
                </button>
                <button type="button" class="btn btn-success button-spacing">BID</button>
            </div>
        </div>
        <p><strong>Description:</strong> {{ mission.description }}</p>
  
      <!-- Modal -->
      <div class="modal fade" id="modal{{ mission.mission_id }}" tabindex="-1" aria-labelledby="modalLabel{{ mission.mission_id }}" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ mission.mission_id }}">{{ mission.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mission-item">
                <p><strong>Launch Date:</strong> {{ mission.launch_date }}</p>
                <p><strong>Payload Volume:</strong> {{ mission.payload_volume }} cubic meters</p>
                <p><strong>Payload Weight:</strong> {{ mission.payload_weight }} kg</p>
                <p><strong>Duration:</strong> {{ mission.duration }} months</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
     {% endfor %}
</div>
{% endblock %}
