{% extends "master.html" %} {% block title %} Astronaut Dashboard {% endblock %}
{% block content %}

<style>
  .centered-button {
      margin: 0 auto;  /* Center the button horizontally */
      padding-top: 2px;  /* Adjust padding to reduce space above */
      padding-bottom: 2px;  /* Adjust padding to reduce space below */
  }
</style>

<div class="container mt-4">
  <h1 class="mb-4">Welcome...</h1>
  {% if person %}
  <div class="row">
    <h2 class="mb-4">
      {{ [person.title or '', person.first_name or '', person.middle_name or '',
      person.last_name or '']|reject('equalto', '')|join(' ') }}
    </h2>
  </div>
  {%endif%}
  <div class="row">
    <div class="col-md-4">
      <h2>Trainings</h2>
      {% if current_trainings %}
      <ul class="list-group">
        {% for training in current_trainings %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                {{ training.name }} - <strong>Status:</strong> {{ 'In Progress' }}
            </div>
            <form action="{{ url_for('dashboard') }}" method="POST" class="d-flex align-items-center mb-0">
              <input type="hidden" name="training_id" value="{{ training.training_id }}">
              <input type="hidden" name="status" value="Completed">
              <button type="submit" class="btn btn-primary btn-sm centered-button" name="button_id" value="{{ training.training_id }}">Complete</button>
          </form>
        </li>
        {% endfor %}
    </ul>
    
      {% else %}
      <div class="">
        <p>No current trainings.</p>
      </div>
      {% endif %}
      {% if past_trainings %}
      <ul class="list-group">
        {% for training in past_trainings %}
        <li class="list-group-item">
          {{ training.name }} -
          <strong>Status:</strong> {{ 'Completed' }}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="">
        <p>No past trainings.</p>
      </div>
      {% endif %}
    </div>

    <div class="col-md-4">
      <h2>Upcoming Missions</h2>
      {% if upcoming_missions %}
      <ul class="list-group">
        {% for mission in upcoming_missions %}
        <li class="list-group-item">
          {{ mission.title }} - <strong>Starts:</strong>
          {{mission.launch_date}}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="fixed-height-list empty">
        <p>No upcoming missions.</p>
      </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <h2>Past Missions</h2>
      {% if past_missions %}
      <ul class="list-group">
        {% for mission in past_missions %}
        <li class="list-group-item">
          {{ mission.title }} - <strong>Duration:</strong> {{ mission.duration
          }} days
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="">
        <p>No past missions.</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
