{% extends "base.html" %} {% block navbar%}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">KASAD</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if session.get('accounttype') == 'astronaut'  %}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
        </li>
        {% endif %}
        
        {% if session.get('accounttype') == 'company' %}
        <li class="nav-item">
          <a class="nav-link" href="/create_mission">Create A Space Mission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assign_trainings">Assign Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manage_astronauts">Manage Astronauts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bid_for_mission"
            >Bid For A Space Mission</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view_bids"
            >View Bids</a
          >
        </li>
        {% endif %}
        
        <li class="nav-item">
          <a class="nav-link" href="/login"
            >Logout</a
          >
        </li>
      </ul>
      
      </form>
    </div>
  </div>
</nav>


{% endblock %}
<div>

  
</div>
